
@media (max-width: 767px) {
    
    img {
        max-width: 100%;
        height: auto;
      }
    
    li.nav-item:last-child {
        position: initial;
    }

    .banner-slide .banner-image {
        height: 390px;
    }

    .banner-content h1 {
        font-size: 28px;
        width: auto;
    }
    .banner-content p {
        font-size: 14px;
    }
        
    .two-column-section {
      padding: 40px 0;
    }
  
    .two-column-section h2 {
      /* font-size: 28px; */
      margin-bottom: 20px;
    }
  
    .two-column-section p {
      font-size: 16px;
    }
  
    .two-column-section .banner-image {
      margin-bottom: 20px;
    }
    .complex-section {
      padding: 40px 0;
    }
  
    .complex-section h3,
    .complex-section h4 {
      font-size: 20px;
    }
  
    .complex-section p {
      font-size: 14px;
    }
  
    .complex-section .block1-left-col .block1-left-col-items {
        display: grid;
        justify-content: center;
    }

    .complex-section .block1-left-col .block1-left-col-items
     .block1-left-col-imge{
        text-align: center;
     }

     .complex-section .block1-left-col {
        height: auto;
        padding-top: 30px;
        margin-left: 15px;
        margin-right: 15px;
     }
     .complex-section .block1-left-col .learn-more-div a {
        top: 29px;
    }
    .complex-section .block1-right-col{
        
        margin-top: 75px;

    }
    .complex-section .block1-right-col .align-items {
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }
    .block1-right-col .learn-more-div a {
        left: 18.9em;
    }   
    .complex-section .row{
        /* margin: 0 auto; */
    } 

    .open-book {
        top: -15px;
    }
    .main-title {
        padding-bottom: 30px;
    }
    .block2 .row{
        margin-left: auto;
        margin-right: auto;
    }
    .block2-main {
        display: grid;
        gap: 40px;
    }
    .block2-image-first .card-text {
        margin-bottom: 0;
        font-size: 18px;
        width: 40vh;
    }
    .block2-blog-sec {
        display: grid;
        gap: 60px;
    }
    .block2-blog-sec .card .card-img-top {
        height: auto;
    }
    .complex-section .block1-right-col .align-items {
        display: flex;
        flex-flow: row;
    }
    .block-4-5 {
        background-image: linear-gradient(to top, #002e5dc4 52%, #04a0a0c2 52%), 
        url(../images/1920_808.jpg);
        padding: 40px 0px;
    }
    .block-4.block-overlay {
        padding-right: 0px;
        padding-left: 0;
    }
    .block-4 .main-title {
        padding-top: 0px;}

    .block-5 .main-title {
        padding-top: 50px;}
        
    .block4-items {
        justify-content: center;
        padding-left: 20px;
        gap: 30px;
    }

    .block-4-5 .row{
        margin-left: auto;
        margin-right: auto;
    }
    .block-5.block-overlay {
        padding-left: 0;
        padding-right: 0;
    }
    .block4-items:last-child{
        border: none;
        margin-bottom:30px;
        padding-bottom: 0;
    }
    .block5-items:last-child {
        border: none;
        margin-bottom:0;
        padding-bottom: 0;
    }
    .block-5 .block5-items .block5-items-img img {
        width: 290px;
    }

    .block2-image-first .card img {
        max-width: 100%;
    }
    .footer .social {
        display: grid;
        gap: 20px;
        justify-content: flex-start;
    }
    .footer .footer-col {
        border-right: none;
    }
    .footer .footer-col ul {
        padding-left: 0;
        padding-bottom: 10px;
    }
    .footer .footer-col:last-child {
        top: 20px;
        left: 0;
    }
    li.nav-item:last-child {
        top: 0;
        left: 0;}
     .block2 .block1-view-all {
            margin-top: 70px;
        }
 }

  