*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents horizontal overflow */
}

html,
body {
  width: 100%;
}

/* Prevent images from causing overflow */
img {
  max-width: 100%;
  height: auto;
}

a:hover {
  text-decoration: none;
  color: #fff;
}
.navbar-nav {
  align-items: end;
  gap: 20px;
}
.nav-link {
  color: #41b6e6;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
}
li.nav-item:last-child {
  top: 45px;
  left: 40px;
  position: relative;
  z-index: 9;
}
.banner-slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.slider {
  max-width: 100%;
  overflow: hidden; /* Ensure no overflow on the slides */
}

.banner-slide {
  position: relative;
}

.banner-slide .banner-image {
  width: 100%;
  height: 550px;
  object-fit: cover;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  color: #fff;
  max-width: 500px;
}

.banner-content h1 {
  font-size: 42px;
  margin-bottom: 20px;
  width: 13em;
}

.banner-content p {
  font-size: 16px;
  margin-bottom: 25px;
}

.banner-content .btn {
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
}

.slick-dots {
  bottom: 10px;
}

.slick-slide .banner-image {
  display: block;
}

/* Pagination dots customization */
.slick-dots li button:before {
  font-family: "none";
  display: none;
}

.slick-dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.slick-dots li {
  width: 12px; /* Size of the dot */
  height: 12px;
  margin: 0 10px;
}

.slick-dots li button {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #ffffff;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.slick-dots li.slick-active button {
  background-color: #41b6e6;
  transform: scale(1.2);
  border: none;
}

.slick-dots li button:hover {
  background-color: rgba(65, 182, 230, 0.5); /* Light hover effect */
}
.banner-learn-more span img {
  display: inline;
}
.banner-learn-more {
  display: flex;
  align-items: center;
  span {
    border: 1px solid #41b6e6;
    color: #fff;
    padding: 5px 8px;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.banner-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0)
  );
  z-index: 1;
}

/* Text content over the image */
.banner-content {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  color: #fff;
  max-width: 500px;
  z-index: 2;
}

.main-title {
  color: #0072ce;
  font-size: 42px;
  padding-bottom: 50px;
}
.block-overlay .main-title {
  color: #ffffff;
}

/* Two-Column Section with Background Image */
.two-column-section {
  background-image: url("../images/banner_Menu_1920_600.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 0;
  color: #fff;
}

.two-column-section h2 {
  font-size: 42px;
  margin-bottom: 50px;
  color: #0072ce;
}

.two-column-section p {
  font-size: 18px;
  margin-bottom: 25px;
  color: #231f20;
  line-height: 28px;
}

.two-column-section .btn {
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
}

.two-column-section .watermark {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Main Section Styling */
.leran-more {
  font-size: 14px;
  align-items: center;
  color: #fff;
  display: flex;
  gap: 15px;
}
.leran-more .hover-img:hover {
  content: url(../images/view_all.png);
}
.leran-more span:last-child {
  border: 1px solid #41b6e6;
  display: grid;
  align-items: center;
  padding: 6px 10px;
}
.complex-section {
  padding: 70px 0;
}

.complex-section h3,
.complex-section h4 {
  font-weight: bold;
  margin-bottom: 15px;
}

.complex-section p {
  font-size: 16px;
  margin-bottom: 20px;
}

.complex-section .block1-left-col {
  display: grid;
  align-items: center;
  background-color: #41b6e6;
  padding: 0 35px;
  color: #fff;
  height: 590px;
}

.complex-section .block1-left-col .font-size-16 {
  font-size: 16px;
}
.complex-section .block1-left-col .font-size-21 {
  font-size: 18px;
}

.complex-section .block1-left-col h5 {
  font-size: 13px;
}

.complex-section .block1-left-col .left-image {
  width: auto;
  max-width: max-content;
}
.open-book {
  position: relative;
  left: 15px;
}
.open-book img {
  float: right;
}
.complex-section .block1-right-col .image-align {
  text-align: right;
}

.complex-section .block1-right-col .align-items {
  gap: 5px;
  margin-left: 50px;
}
.complex-section .block1-right-col .content-align {
  /* width: 210px; */
  background: #e6e7e8;
  padding: 15px;
  align-items: center;
  display: flex;
}

.complex-section .block1-right-col .align-items:first-child {
  /* margin-bottom: 40px; */
}
.margin-top-size {
  margin-top: 40px;
}
.complex-section .block1-right-col .content-align h5 {
  font-size: 13px;
  color: #6d6e70;
}
.complex-section .block1-right-col .content-align p {
  font-size: 18px;
  color: #0072ce;
  width: 165px;
}

.complex-section .block1-right-col .image-align img {
  /* width: 175px; */
}

.complex-section .block1-left-col .block1-left-col-items {
  display: flex;
  gap: 30px;
}
.complex-section .block1-left-col .block1-left-col-items .learn-more-div {
  position: relative;
}
.complex-section .block1-left-col .learn-more-div a {
  float: right;
  position: relative;
  top: 55px;
  left: 35px;
  color: #808080;
  text-transform: uppercase;
  font-size: 12px;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.learn-more-div img {
  background: #41b6e6;
  margin-left: 10px;
}

.complex-section .block1-right-col .align-items:last-child {
  margin-top: 40px;
}

.block1-right-col .learn-more-div a {
  position: relative;
  top: -1px;
  left: 27.7em;
  color: #808080;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.block1-view-all span:first-child {
  color: #0072ce;
}
.block1-view-all span:last-child {
  padding: 5px 0;
}
.block1-view-all {
  justify-content: center;
  margin-top: 40px;
}
/* BLOCK 2 */

.block2 {
  padding: 60px 0;
  background: #f2f2f2;
}
.block2-main {
  display: flex;
  gap: 80px;
}

.block2-blog-sec {
  display: flex;
  gap: 50px;
}

.block2-blog-first .card-body {
  background: #fff;
}

.block2-image-first .card .card-img-overlay {
  border-radius: 0;
  display: flex;
  align-items: baseline;
  justify-content: end;
  flex-direction: column;
  color: #fff;
}

.block2-image-first .card-text {
  margin-bottom: 0;
  font-size: 21px;
  /* width: 60vh; */
}
.block2-image-first .card-title {
  font-size: 13px;
  color: #fff;
}
.block5-items-img img {
  max-width: max-content;
}
.block2-blog-sec .card .card-img-top {
  border-radius: 0;
  height: 150px;
}
.block2-blog-sec .card {
  border: none;
  height: 354px;
  border-radius: 0;
}

.block2-blog-sec .card .card-title {
  font-size: 13px;
  color: #41b6e6;
}
.block2-blog-sec .card .card-text {
  color: #6d6e70;
  font-size: 21px;
  line-height: 26px;
}

.block2-image-first .learn-more-div a {
  position: relative;
  float: right;
  top: -1px;
  right: 0.7px;
  color: #808080;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.block2-blog-sec .learn-more-div a {
  position: relative;
  float: right;
  top: 29px;
  color: #808080;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}
.block2-image-first .card img {
  max-width: max-content;
}
/* Block 3 & 4 */

.block-4-5 {
  background-image: linear-gradient(to left, #002e5dc4 50%, #04a0a0c2 50%),
    url(../images/1920_808.jpg);
  width: 100%;
  background-size: cover;
  color: white;
  padding: 80px 0px;
}

.block-5.block-overlay {
  padding-left: 60px;
}
.block-4 .block4-itmes-text .card-title,
.block-5 .block4-itmes-text h6 {
  font-size: 13px;
}
.block-5 .block5-items .block5-items-img img {
  width: 150px;
}
.block4-items {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 35px;
  padding-bottom: 35px;
  border-bottom: 1px solid #fff;
}

.block4-items-cal {
  width: 100px;
  text-align: center;
}
.block4-items .block4-items-cal .cal-month {
  width: 100px;
  height: 25px;
  background: #002e5d;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  align-items: center;
  display: grid;
}
.block4-items .block4-items-cal .cal-date {
  height: 75px;
  font-size: 55px;
  background: #fff;
  color: #0072ce;
}

.block4-items .block4-itmes-text p {
  /* font-size: 21px; */
  width: 90%;
}

.block5-items {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #fff;
}

.block-4.block-overlay {
  padding-right: 60px;
}
.slick-dotted.slick-slider {
  margin-bottom: 0;
}
.footer {
  background-color: #404041;
  padding: 40px 0;
  color: #fff;
}

.footer .footer-col .quick-link li a {
  font-size: 15px;
  color: #fff;
}
.footer .footer-col .quick-link li {
  margin-bottom: 10px;
}
.footer .footer-col ul {
  list-style: none;
  padding-left: 0;
  font-size: 15px;
  font-weight: 600;
}
.footer .footer-col {
  border-right: 1px solid #fff;
}
.footer .footer-col:last-child {
  border-right: none;
  position: relative;
  top: 70px;
  left: 25px;
}

.footer .social-icons a {
  color: #ffffff;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 10px 20px;
  width: 30px;
  justify-content: center;
  display: flex;
}

.footer .f-contact {
  font-size: 15px;
  font-weight: 700;
}

.footer .social-icons {
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: baseline;
}
.footer .newsletter input[type="email"] {
  width: 80%;
  padding: 8px;
  margin-right: 5px;
  width: 300px;
}
.footer .newsletter {
  display: flex;
}
.footer .social {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.footer .newsletter .btn-primary {
  color: #fff;
  background-color: #007bff00;
  border-color: #ffffff;
  border-radius: 0;
}
.footer .news-tilte {
  margin-bottom: 10px;
  font-weight: 700;
}

.copyright {
  background-color: #e6e7e8;
  color: #59595c;
  font-size: 14px;
  padding: 10px 0;
  text-align: center;
  height: 60px;
  align-items: center;
  display: grid;
}
.copyright p {
  margin-bottom: 0;
}

.navbar-toggler-icon {
  background-image: url("../images/menu-bar.png") !important;
  position: relative;
}
.lorum-main .navbar-dark .navbar-nav .nav-link {
  color: rgb(65 182 230);
}
.lorum-main .bg-dark {
  background-color: #ffffff !important;
}
